$primary-color: #1e2369;
$blue-color: #123eff;
$accent-color: #db1f5f;
$white-color: #fffdfd;
$pink-color: #2a2e667d;
$input-color: #2a2e66;

$side-bar-width: 320px;

$border-radius: 7px;

$mobile-width: 560px;
$tablet-width: 900px;
$large-tablet-width: 1200px;
