<div class="wrapper">
  <div class="wrapper__sidebar">sidebar</div>
  <div class="wrapper__content">
    <div class="wrapper__content-topbar">
      <div class="expanded">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="profile">
        <div class="info">
          <div class="avatar">MM</div>
          <div>
            <h4>Marcos Musafiri</h4>
            <p>marcos@gmail.com</p>
          </div>
        </div>
        <button (click)="logout()">
          <i class="fa-solid fa-power-off"></i>
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
